Repository AnandChowdhary/calendar-link, changes with the labels that .github/labeler.yml gives for each.
All labels: config, tooling, assets, tests, package, source

.github/labeler.yml:

config:
  - ./*
tooling:
  - tooling/**/*.*
assets:
  - static/**/*.*
tests:
  - any: ["src/**/*.spec.js", "cypress/**/*"]
package:
  - any: ["package.json", "package-lock.json"]
source:
  - src/**/*

:truck: Move code to src dir
  index.test.ts
  index.ts
  src/index.spec.ts
  src/index.ts
  src/interfaces.ts
  src/utils.ts
Labels: config, source

:sparkles: Trigger major release
  package.json
Labels: config

:fire: Remove workflows
  .github/licensed.yml
  .github/workflows/cla.yml
  .github/workflows/licensed.yml
  package.json
Labels: config

:pencil: Add new badges to README
  README.md
Labels: config

:construction_worker: Add Test CI
  .github/workflows/test.yml
Labels: none

:arrow_up: Update jest, semantic-release
  package-lock.json
  package.json
Labels: config

:construction_worker: Send coverage to Coveralls
  .github/workflows/node.yml
Labels: none
